.idea
composer.lock
app/config/packages/dev/web_profiler.yaml
app/config/packages/doctrine.yaml
app/config/packages/doctrine_migrations.yaml
app/config/packages/prod/
app/config/packages/security.yaml
app/config/packages/sensio_framework_extra.yaml
app/config/packages/stof_doctrine_extensions.yaml
app/config/packages/test/web_profiler.yaml
app/config/packages/translation.yaml
app/config/packages/twig.yaml
app/config/packages/twig_extensions.yaml
app/config/routes/dev/
app/src/DataFixtures/
app/src/Entity/
app/src/Migrations/
app/src/Repository/
app/templates/
app/translations/
